.loading {
  width: 200px;
  height: 2000px;
  color: black;
}
.loding_gift {
  width: 80px;
  height: 80px;
  margin-top: 300px;
  margin-left: 750px;
}
/* HTML: <div class="loader"></div> */
/* .loader {
  margin-left: 130px;
  margin-bottom: 350px;
  margin-top: 130px;
  height: 3px;
  width: 120px;
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c), var(--c), #111111;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
} */
